/* Consegna */

/* Milestone 1 */

/* Replica della grafica con la possibilità di avere messaggi scritti dall’utente (verdi) e dall’interlocutore (bianco) assegnando due classi CSS diverse */

/* Visualizzazione dinamica della lista contatti: tramite la direttiva v-for, visualizzare nome e immagine di ogni contatto. */

/* Layout */

img {
    max-width: 100%;
    border-radius: 50%;
    height: 5vh;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #009688 15%, #D9DBD6 15%);
}

.app-container {
    width: 80%;
    height: 95vh;
}

/* Menu */
.menu {
    border: 1px solid blue;
    width: 35%;
    height: 100%;
}

/* Menu Header */
.menu-header {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    background-color: #EAEAEA;
}

.menu-left-header {
    display: flex;
    align-items: center;
    gap: 1vh;
    padding-left: 1vh;
}

.menu-left-header span {
    font-size: 0.9vw;
    font-weight: 500;
}

.menu-right-header {
    display: flex;
    align-items: center;
    gap: 1vw;
    line-height: 7vh;
    padding-right: 1vw;
}

.menu-right-header i {
    font-size: 1.2vw;
    color: #B1B1B1;
}

/* Menu notification */
.menu-notification {
    height: 8vh;
    border: 2px solid black;
}

/* Menu search */
.menu-search {
    height: 5vh;
    border: 2px solid black;
}

/* Menu users list */
.menu-users-list {
    height: 75vh;
    border: 2px solid black;
}

/* Chat */
.chat {
    border: 1px solid green;
    width: 65%;
    height: 100%;
}

/* Chat header */
.chat-header {
    height: 7vh;
    border: 2px solid black;
}

.chat-window {
    height: 80vh;
    border: 2px solid black;
}

.chat-input {
    height: 8vh;
    border: 2px solid black;
}