<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- Custom styles -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <div id="app">
        <div class="wrapper d-flex justify-content-center align-items-center">
            <div class="app-container d-flex">
                <!-- App menu (Left column) -->
                <div class="menu">
                    <!-- Header -->
                    <div class="menu-header">
                        <div class="menu-left-header">
                            <img src="img/avatar_io.jpg" alt="Avatar Io">
                            <span>Sofia</span>
                        </div>
                        <div class="menu-right-header">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- Notification -->
                    <div class="menu-notification">
                        <i class="fa-solid fa-bell-slash"></i>
                        <div class="menu-notification-info">
                            <span class="up-notification">Ricevi notifiche di nuovi messaggi</span>
                            <span class="down-notification">Attiva notifiche desktop</span>
                        </div>
                    </div>
                    <div class="menu-search">
                        <div class="search-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <input class="user-search" type="text" placeholder="Cerca o inizia una nuova chat" v-model="contactsearch" @keyup="searchContacts"/>
                    </div>
                    <div class="menu-users-list">
                        <div class="user-box" v-for="contact in contacts" @click="showChat(contact)" v-show="contact.visible" :class="indexuser == contact ? 'active' : '' ">
                            <div class="user-img">
                                <img :src="contact.avatar" alt="">
                            </div>
                            <div class="user-info">
                                <span class="user-name">{{ contact.name }}</span>
                                <span class="user-last">{{ contact.messages[contact.messages.length -1].message }}</span>
                            </div>
                            <div class="user-time">{{ contact.messages[contact.messages.length -1].date.substring(11).slice(0, -3) }}</div>
                        </div>
                    </div>
                </div>
                <!-- /App menu (Left column) -->

                <!-- Chat (Right column) -->
                <div class="chat">
                    <div class="chat-header">
                        <div class="chat-left-header">
                            <img :src="useravatar" alt="">
                            <div class="user-credentials">
                                <span class="user-name">{{ username }}</span>
                                <span class="user-access" v-if="useravatar !== '' ">Ultimo accesso oggi alle 12:00</span>
                            </div>
                        </div>
                        <div class="chat-right-header">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="chat-window">
                        <div class="message-container">
                            <div class="message-box" v-for="usermessage in usermessages" :class="usermessage.status == 'sent' ? 'green' : 'white'">
                                <span class="message">{{ usermessage.message }}</span>
                                <span class="message-time">{{ usermessage.date.substring(11).slice(0, -3) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="chat-input">
                        <div class="emoji-input">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="chat-bar">
                            <input type="text" placeholder="Scrivi un messaggio" ref="newmessage" @keyup.enter="newChatMessage(newmsg)">
                        </div>
                        <div class="recording-input">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
                <!-- /Active chat (Right column) -->
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/data.js"></script>
    <script src="js/script.js"></script>
</body>
</html>